
#content .imgWrap
{
   float: right;
   margin: 8px;
   margin-right: 0px;
}

#content .centered
{
   float: none;
   margin: 0px auto;
}

#content .imgWrap img
{
   /*padding: 1px;
   border: 1px solid gray;*/

   width: 100%;

   /*
   padding: 1px;
   border: 1px solid #021a40;
   background-color: #ff0;*/
}

#content ul
{
   padding-left: 20px;
}

