
#sideNav
{
   position: fixed;
   width: 210px;
}

#sideNav .item
{
   display: block;
   position: relative;
   float: left;
   width: 100%;
   padding: 7px 0px;

   font-size: 1em;
   font-weight: bold;
}

#sideNav .item:hover .title
{
   text-decoration: underline;
}

#sideNav .item .title
{
   padding-top: 1px;
}

#sideNav img, #sideNav .title
{
   float: left;
   margin-left: 5px;
}

#sideNav .item .link
{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;

   /* edit: added z-index */
   z-index: 1;

   /* edit: fixes overlap error in IE7/8,
   make sure you have an empty gif */
   background-image: url('../assets/images/empty.gif');
}

#main
{
   margin-left: 210px;
   border-left: 1px dotted gray;
   padding-left: 15px;
}
